{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make TFLITE_BEAM_COMPILE_WITH_REBAR=true TFLITE_BEAM_MAKE=make"},
   {"(freebsd)", compile, "gmake TFLITE_BEAM_COMPILE_WITH_REBAR=true TFLITE_BEAM_MAKE=gmake"},
   {"win32", compile, "nmake"}
]}.

{edoc_opts,
 [deterministic
  ,{platform_define, "^2", 'OTP_20_AND_ABOVE'}
  ,{doclet, edoc_doclet_chunks}
  ,{layout, edoc_layout_chunks}
  ,{preprocess, true}
  ,{dir, "_build/default/lib/tflite_beam/doc"}
 ]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
          {source_url, <<"https://github.com/cocoa-xu/tflite_beam">>},
          {extras, [<<"README.md">>, <<"CHANGELOG.md">>, <<"LICENSE">>]},
          {main, <<"README.md">>}]}.
